 .divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }

  .divider::before,
  .divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #555;  /* line color */
    margin: 0 10px;     /* space between line and text */
  }

  .divider span {
    font-weight: bold;
    color: #4e3df5; /* blue color like your image */
  }
 .btn {
    background-color: #76C01D !important;
} 
.google:hover{
   background-color: #aaa7c4 ;
}